* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.instructions {
  font-family: "Inter", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  gap: 1.2rem;
}

.instructions h1 {
  font-size: 1rem;
  text-align: center;
  color: #334155;
}

.instructions p {

  line-height: 1.75;
  color: #334155;
  text-align: center;
  margin: 0 1rem
}

.instructions a {
  align-self: center;
  text-decoration: none;
  border: 1px solid rgb(64, 64, 146);
  background-color: rgb(108, 108, 149);
  color: #fff;
  font-weight: 600;
  padding: 0.4rem 1.5rem;
  border-radius: 4px;
  transition: 0.2s ease;
}

.instructions a:hover {
  background: #1d4ed8;
  transform: translateY(-1px);
}

.instructions a:active {
  transform: translateY(0);
}

@media (min-width: 769px) {

  .instructions {

    gap: 2rem;
  }

  .instructions p {
    width: 680px;
  }


}