* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;

}

.quiz {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  background-image: url("./images/background-questions.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

#question {
  display: flex;
  justify-content: center;
}

.quiz h1 {
  text-align: center;
  font-size: 15px;
}

.questionDivCSS {
  color: rgb(35, 35, 35);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.enunciadoCSS {
  width: 90%;
  height: 150px;
  margin: 0 1rem;
  padding: 0 .8rem;
  border: 1px solid rgb(188, 187, 187);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

.alternativeCSS {
  height: 60px;
  width: 90%;
  font-size: 15px;
  margin: 0 1rem;
  line-height: 1.5;
  padding: 0 .5rem;
  display: flex;
  align-items: center;
  border: 1px solid rgb(188, 187, 187);
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
}

.buttons {
  width: 90%;
  display: flex;
  justify-content: center;
  gap: .5rem;

}

.buttons button {
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #f5f5f5;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: .2s;
  padding: 10px;
}

.resultCSS {
  height: 120px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid rgb(188, 187, 187);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
}

.finalCSS {
  width: 90%;
  height: 150px;
  border-radius: 5px;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.certa {
  color: #28a745;
  border: 1px solid #28a745;
  box-shadow: 0 2px 5px rgba(0, 128, 0, 0.2);
}

.errada {
  color: #c82333;
  border: 1px solid #dc3545;
  box-shadow: 0 2px 5px rgba(220, 53, 69, 0.2);
}

.resultadoCerto,
.resultadoErrado {
  width: 90%;
  height: 120px;
  padding: .5rem;
  line-height: 1.5;
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: white;
}

.resultadoErrado {
  background-color: #dc3545;
}

.resultadoCerto {
  background-color: #28a745;
}

.selected {
  background-color: #dcdcdc;
}

.resultDivCSS {
  border: 1px solid gray;
  width: 90%;
  height: 200px;
  padding: 0 .5rem;
  line-height: 1.5;
  border-radius: 7px;
  color: rgb(35, 35, 35);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 769px) {
  .alternativeCSS:hover {
    background-color: rgb(161, 160, 160);
    cursor: pointer;
    transition: background-color 0.3s ease;
    transform: scale(1.01);
  }

  .enunciadoCSS {
    height: 110px;
    width: 600px;
  }

  .alternativeCSS {
    width: 600px;
  }

  .resultCSS {
    height: 100px;
    width: 600px;
  }

  .resultadoCerto,
  .resultadoErrado {
    width: 600px;
    height: 100px;

  }
}